server:
  port: 8081

spring:
  sql:
    init:
      mode: ALWAYS
  application:
    name: apache-pulsar-spring-boot
  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: 'create-drop'
  datasource:
    driver-class-name: org.postgresql.Driver
    username: dev
    password: qwerty
    url: jdbc:postgresql://localhost:5432/pulsar_newsletter
    hikari:
      poolName: Hikari
      auto-commit: false
  pulsar:
    client:
      operation-timeout: 30m
      service-url: pulsar://127.0.0.1:6650
      # pulsar This configuration is not required if no password has been set.
      authentication:
        plugin-class-name: org.apache.pulsar.client.impl.auth.AuthenticationToken
        param:
          token: GeneratedTokenValue
    producer:
      topic-name: notification-topic
      name: notification_sender
